
body {
    font-family: 'Merriweather', serif;
}

#section0 {
    background-image: url('../img/aswin-deth-jy7_yN68ZbU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    height: 65%;
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}



.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.page-header {
    text-align: right;
    padding: 25px 150px 0px 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.jumbotron {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 10em;
}

.jumbotron * {
    font-size: 16pt
}

.page-credits {
    text-align: left;
    padding: 25px 150px 0px 25px;
    position: absolute;
    top: 0px;
}

.us-circle {
    stroke: darkred;
    stroke-width: 3px;
}

.state-circles {
    stroke: darkred;
    stroke-width: 3px;
}

.tool-tip {
    background: rgba(255, 255, 255, 0.95);
    padding: 5px;
}

.tool-tip *{
    font-size:10pt;
}

.other-circles {
    stroke: darkslateblue;
    stroke-width: 3px;
}

.legend-circle {
    fill: none;
    stroke: darkgrey;
    stroke-width: 3px;
}


.column-image {
    max-width: 100%;
}

.content {
    margin: 30px;
}


.white-text {
    color: white;
}

.scroll-down-left {
    position: absolute;
    text-align: right;
    left: 10px;
    bottom: 0px;
    font-size: 30pt;
}


.scroll-down-right {
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 0px;
    font-size: 30pt;

}