
body {
    font-family: 'Merriweather', serif;
}

#section0 {
    background-image: url('../img/aswin-deth-jy7_yN68ZbU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.page-header {
    text-align: right;
    color: white;
    padding: 25px 150px 0px 25px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.white-text {
    color: white;
}

.scroll-down-left {
    position: absolute;
    text-align: right;
    left: 10px;
    bottom: 0px;
}

.scroll-down-right {
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 0px;
}