body {
    font-family: "Merriweather", serif;
}

#section0 {
    background-image: url("../img/aswin-deth-jy7_yN68ZbU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    stroke: none;
    fill: #eee;
}

.similar-countries-box{
  fill: rgb(200, 200, 200);
}

.similar-countries-inner-box{
  fill: rgb(122, 122, 122);
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    height: 65%;
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#world-circles {
    height: 600px;
    width: 400px;
    overflow: scroll;
    direction: ltr;
}

#world-circles svg {

}

.page-header {
    text-align: right;
    padding: 25px 150px 0px 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.jumbotron {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 10em;
}
.next-button{
  fill:gray;
}
.next-button:hover{
  fill: #3c3c3c;
}


.jumbotron * {
    font-size: 16pt;
}

.page-credits {
    text-align: left;
    padding: 25px 150px 0px 25px;
    margin: 5px;
    top: 0px;
}

.world-circles {
    stroke: #565656;
    stroke-width: 2px;
}

.table td {
  padding: .3rem;
}


.tool-tip {
    background: rgba(255, 255, 255, 0.95);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
}

table {
    border-collapse: collapse;
}

.tool-tip * {
    font-size: 10pt;
}


.legend-circle {
    fill: none;
    stroke: darkgrey;
    stroke-width: 3px;
}
.legend-text{
  text-anchor: middle;
  font-size: 8pt;
}
.legend-scale-title{
  text-anchor: middle;
  font-size: 1rem;
}
.similar-countries-title{
  text-anchor: middle;
}
.country-titles{
  text-anchor: middle;
  font-size: 14pt;
  fill: #ffffff;
  font-weight: bolder;
}

.similar-countries-inner{
  text-anchor: middle;
  font-weight: bolder;
  fill:lightgray;
  font-size: 26pt;
}

.column-image {
    max-width: 100%;
}

.content {
    margin: 30px;
}

.white-text {
    color: white;
}

.legend-label {
    font-size: 10pt;
}

.scroll-down-left {
    position: absolute;
    text-align: right;
    left: 10px;
    bottom: 0px;
    font-size: 30pt;
}

.scroll-down-right {
    position: absolute;
    text-align: right;
    right: 30px;
    bottom: 0px;
    font-size: 30pt;
}

/*************/
/*    FORM   */
/*************/

.form-inline {
    margin-bottom: 30px;
}

.form-control {
    border: 1px solid;
    width: 250px;
}

.form-group label {
    font-weight: 400;
    margin-right: 10px;
}

.form-inline button,
.btn-link:active {
    border-left: 1px solid #888;
    margin-left: 15px;
    padding-left: 15px;
    color: #333;
    cursor: pointer;
    outline: none;
}

.form-inline button:hover,
.btn-link:active,
.btn-link:focus {
    border-left: 1px solid #888;
    color: #8e7060;
    text-decoration: none;
    outline: none;
}

.form-inline button .glyphicon {
    margin-right: 5px;
}

/***************/
/*  BAR CHART  */
/***************/

.axis {
    font: 10px sans-serif;
    fill: #333;
}

.axis-title {
    fill: #9c8b83;
    font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis {
    font-size: 14px;
}

.y-axis {
    font-size: 14px;
}

.x-axis path {
    display: none;
}

.call-to-action {
    margin-left: 50px;
}
.state-title{
  font-size: 14pt;
  font-weight: bolder;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}